
.padright{
  /* padding-right: 2rem; */
  @include breakpoint(medium){
    padding-right: 0;
  }
}

.padrightextra{
  padding-right: 4rem;
  @include breakpoint(medium) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.margright{
  margin-right: 2rem;
}

.nopad{
  padding: 0 !important;
}
.nopadvertical{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
.maintext{
  background-color:light-text;
  padding: 2rem;
  margin-left:-2rem;
  margin-right:2rem;
  height: 100%;
  @include breakpoint(medium){
    margin-left: 0;
  }
}

.container{
  padding-left:0px;
  padding-right:0px;
}

.flx{
  column-count: 2;
  column-gap: 2rem;
  @include breakpoint(medium){
    column-count: 1;
    float: none;
    .navbar-section{
      display:inline;
    }
  }
  .fl{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid;
    box-sizing: border-box;
  }
  .fll{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    box-sizing: border-box;
    display:block;
  }
}

.flxx{
  column-count: 4;
  column-gap: 2rem;
  @include breakpoint(medium){
    column-count: 1;
    float: none;
    .navbar-section{
      display:inline;
    }
  }
  .fll{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    box-sizing: border-box;
    display:block;
  }
}


img {
  max-width:100%;
}

.columns {
  max-width:1400px;
  margin: 0 auto;
  padding: 4rem;
@include breakpoint(medium){
    padding:1rem;
  }
}


body{
  line-height: 1.4;
  background-color: #fbfbfb;
}

html.fixmod{
  overflow: hidden;
}

.footer {
  background-color: #4A4A4A;
}

.footer-logo {
  text-align: right;
  img {
    margin-right: 3rem;
    margin-bottom: .5rem;
  }
  a {
    display: block;
    text-align: right;
  }
}


.bottom-footer {
  /* border-top: 2px solid $primary-color; */
  background-color:$primary-color;
  a {
    font-size: 1.2rem;
  }
  a:link, a:visited, a:hover, a:active {
    color: $light-text;
  }
}
.footer{
  .col-1:first-child a {
    /* display: block; */
    color: $light-text;
    font-size: 1.3rem;
  }
}

.none{display:none}

.navbar .navbar-section{
  @include breakpoint(medium){
    display: inline;
  }
}

.col-6{
  @include breakpoint(medium){
    width: 100%;
  }
}

.mailing-list {
  color: $light-text;
  padding: 2rem 4rem;
  @include breakpoint(medium) {
    padding-top: .5rem;
    padding-left: .35rem;
    padding-right: 0; 
  }
}

.mailing-list label {
  font-size: 1.5rem;
  color: $light-text;
}
.mailing-list .email {
  line-height: 1.5;
  width: 100%;
  border-radius: .8rem;
  border-color: $accent-color;
  margin-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.mailing-list #mc_embed_signup {
  text-align: center;
}

.mailing-list #mc_embed_signup_scroll {
  padding-top: .5rem;
  .supportlink {
    font-size: 1rem;
    font-weight: normal;
    border-color: $accent-color;
    color: $accent-color;
    width: 25%;
    border-radius: .8rem;
    line-height: 0;
    height: 2rem;
  }
}
.mailing-list .btn {
  /* margin-top: -.3rem; */

}

.footer .supportlink {

  @include breakpoint(medium) {
    font-size:1.3rem;    
  }
}

.footer-nav {
  padding: 1rem 4rem;
  .col-2 {
    text-align: right;
  }
  @include breakpoint(medium) {
    padding-bottom: 0;
    .btn {
      font-size: 1.1rem;
      padding: 0;
      padding-left: .4rem;
      height: 2.4rem;
    }
    .navbar {
      padding-bottom: 0;
    }
    .navbar .navbar-section:nth-child(2) {
      display: none;
    }
    .navbar .navbar-section {
      display: inline-table;
    }
  }
}
