
.home .container.title .columns{
  align-items: center;
  /* min-height: 35vh; */
  height: 40vh;
  @include breakpoint(medium){
    min-height: 23vh;
  }
}

/* rules for newhomepage  */
.home .container.title.imaged {

}

.section-title {
  height: auto;
  color: $dark-color;
  border-bottom: 1px $accent-color solid;
  width: 15%;
  font-size: 2rem;
}

.home .intro h3 {
  font-size: 2rem;
  /* height: 1rem; */
  @include breakpoint(medium) {
    padding-top: 0;
    font-size: medium;
    height: auto;
  }
}

.home .intro h3:first-child {
  line-height: 0 !important;  
}

#header-logo {
  padding-right: 1rem;
  @include breakpoint(medium) {
    display: none;
  }
}

.top > .columns {
  padding-top: .1rem !important;
  padding-bottom: .1rem !important;
}
/* end of rules */

.en_page .title{
  @include breakpoint(medium){
    height: 4.5rem;
  }
}

.home .homeheader{
  background-color: $primary-color;
  height: 4rem;
  .columns{
    color: white;
    @include breakpoint(medium){
      height: 2.2rem;
    }
  }
}

.home .homecontent {
  /* background-color: white; */
  padding: 2rem;
  margin-bottom: 2rem;
  color: black;
  border-bottom: 4px solid $primary-color;
  font-size: 1.8rem;
  strong{
    color: $primary-color;
    text-decoration: underline;
  }
  @include breakpoint(medium){
    font-size:1.15rem;
  }
}

.latestrelease-desktop h5, .latestrelease-mobile h5 {
  background-color: $orange;
  color: white;
  padding: .5rem;
  padding-left: 2.5rem;
  font-size: 1.7rem;
  position: absolute;
  z-index: 30;
}

.right-section h5 {
  @include breakpoint(medium) {
    font-size:1.5rem
  }
}

.latestrelease-mobile {
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

.latestrelease-desktop{
  display: block;
  @include breakpoint(medium) {
    display: none;
  }
}

.home .title {
  box-shadow: inset 0 -60px 220px -20px rgba(0,0,0,.5);
}
.home .title h1 {
  font-family: 'Lato';
  font-size: 6rem;
  @include breakpoint(medium){
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

.subtit{
  background-color: #fff;
  text-align: center;

  h2{
    font-size:2.5rem;
    color:$dark-color;
    padding: 2.5rem 0rem 2.5rem 0rem;
  }
}

.intro{
  .columns.latestinfo{
    padding-top:4rem;
    padding-bottom:3rem;
  }
}

.intro .columns {
  padding-top:2rem;
  padding-bottom:2rem;
  @include breakpoint(very-large) {
    padding-top: 4rem;
  }
  @include breakpoint(large) {
    padding-top: 6rem;
  }
}

.intro .columns h3 {
  @include breakpoint(medium){
    position: relative;
    bottom: 1.5rem;
  }
  @media (max-width: 319px){
    font-size: 1.1rem;
  }
}

.home .ititle {
  color:#888;
  text-align:center;
}

/* JUST DELETE THIS  */

/* .home .investigations .limiter > .col-12 { */
/*   display:none; */
/*   &:first-child{ */
/*     display: block; */
/*   } */
/*   &:nth-child(2){ */
/*     display: block; */
/*   } */
/*   &:nth-child(3){ */
/*     display: block; */
/*   } */
/* } */

.home .maincontent p{
  display:block;
  margin:0 auto;
}

.home .container.investigations{
  padding:0;
}

.home .intro .investigations .columns{
  padding:0;
  .card{
    /* margin-left:0; */
  }
}

.home .lotsacards{
  margin-top:-4rem;
}

.home .flx .card{
  margin-left:0;
}

