
.home .container.title .columns{
  align-items: center;
  min-height: 35vh;
  @include breakpoint(medium){
    min-height: 23vh;
  }
}

/* rules for newhomepage  */
.home .container.title.imaged {
  display: none;
}

.home .intro h3 {
  padding-top: 5.5rem;
  font-size: 2rem;
  height: 2rem;
}

#header-logo {
  padding-right: 1rem;
}

.top > .columns {
  padding-top: .1rem !important;
  padding-bottom: .1rem !important;
}
/* end of rules */

.en_page .title{
  @include breakpoint(medium){
    height: 4.5rem;
  }
}

.home .homeheader{
  background-color: $primary-color;
  .columns{
    background-color: rgba(0,0,0,.2);
    color: white;
    @include breakpoint(medium){
      height: 4rem;
    }
  }
}

.home .homecontent {
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  color: black;
  border-bottom: 4px solid $primary-color;
  font-size: 1.8rem;
  strong{
    color: $primary-color;
    text-decoration: underline;
  }
  @include breakpoint(medium){
    font-size:1.15rem;
  }
}

.latestrelease-desktop h5, .latestrelease-mobile h5 {
  background-color: $orange;
  color: white;
  padding: .5rem;
  padding-left: 2.5rem;
  font-size: 1.7rem;
  position: absolute;
  z-index: 30;
}

.right-section h5 {
  @include breakpoint(medium) {
    font-size:1.5rem
  }
}

.latestrelease-mobile {
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

.latestrelease-desktop{
  display: block;
  @include breakpoint(medium) {
    display: none;
  }
}

.home .title {
  box-shadow: inset 0 -220px 220px -20px rgba(0,0,0,.5);
}
.home .title h1 {
  font-family: 'Lato';
  font-size: 6rem;
  @include breakpoint(medium){
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

.subtit{
  background-color: #fff;
  text-align: center;

  h2{
    font-size:2.5rem;
    color:$dark-color;
    padding: 2.5rem 0rem 2.5rem 0rem;
  }
}

.intro{
  .columns.latestinfo{
    padding-top:4rem;
    padding-bottom:3rem;
  }
}

.intro .columns{
  padding-top:2rem;
  padding-bottom:2rem;
}

.intro .columns h3 {
  @include breakpoint(medium){
    position: relative;
    bottom: 1.5rem;
  }
  @media (max-width: 319px){
    font-size: 1.1rem;
  }
}

.home .ititle {
  color:#888;
  text-align:center;
}

.home .investigations .limiter > .col-12 {
  display:none;
  &:first-child{
    display: block;
  }
  &:nth-child(2){
    display: block;
  }
  &:nth-child(3){
    display: block;
  }
}

.home .maincontent p{
  display:block;
  margin:0 auto;
}

.home .container.investigations{
  padding:0;
}

.home .intro .investigations .columns{
  padding:0;
  .card{
    margin-left:0;
  }
}

.home .lotsacards{
  margin-top:-4rem;
}

.home .flx .card{
  margin-left:0;
}

.mailing-list {
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 0;
  @include breakpoint(medium) {
    padding-top: .5rem;
    padding-left: .35rem;
    padding-right: 0; 
  }
}
.mailing-list label {
  font-size: 1.1rem;
  color: #999;
}
.mailing-list .email {
  line-height: 1.9;
}
.mailing-list #mc_embed_signup_scroll {
  padding-top: .5rem;
}
.mailing-list .btn {
  margin-top: -.3rem;
}
.footer .supportlink {
  @include breakpoint(medium) {
    font-size:1.3rem;    
  }
}

.footer-nav {
  padding-top: 0;
  padding-bottom: 2rem;
  @include breakpoint(medium) {
    padding-bottom: 0;
    .btn {
      font-size: 1.1rem;
      padding: 0;
      padding-left: .4rem;
      height: 2.4rem;
    }
    .navbar {
      padding-bottom: 0;
    }
    .navbar .navbar-section:nth-child(2) {
      display: none;
    }
    .navbar .navbar-section {
      display: inline-table;
    }
  }
}
