
.modal-container .modal-body{
  max-height: 100000px;
}

.modal {


  top: 0;
  bottom: none !important;
  position:fixed;
  max-height:100vh;
  z-index: 9000 !important;
  overflow-y: scroll;
  -webkit-align-items:start;
    align-items:start;
    bottom: 0;
    display: none;
    -ms-flex-align:start;
    -ms-flex-pack:start;
    -webkit-justify-content:start;
    justify-content:start;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 100%;
    max-width: 100vw;
}

.modal-overlay {
  position: fixed !important;
}

.modal.active .modal-container{
  margin:3rem auto;
  max-width: 90rem;
  font-size: 1.5rem;
  h1 {font-size: 2.2rem}
  h2 {font-size: 2rem}
  h3 {font-size: 1.8rem}
  h4 {font-size: 1.6rem}
  h5 { font-size: 1.4rem}
  h6 {font-size: 1.2rem}
}

.modal-header{
  text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
}
