@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

 html, body {
   font-family: 'Lato', sans-serif;
   font-size: 12px;

   @include breakpoint(very-large){
    font-size:9px;
   }
   
   @include breakpoint(large){
     font-size:7px;
 }

  @include breakpoint(medium){
    font-size:14px;
    h1 {font-size: 1.7rem}
    h2 {font-size: 1.4rem}
    h3 {font-size: 1.3rem}
    h4 {font-size: 1.2rem}
    h5 { font-size: 1.1rem}
    h6 {font-size: 1rem}
  }
 }

 body{
   font-size: 18px;
   @include breakpoint(very-large){
    font-size:16px;
  }
   
   @include breakpoint(large){
   font-size:14px;
 }
 }


 h1, h2, h3, h4, h5, h6{
   font-family: 'Merriweather', serif;
   font-weight:200;
 }

p {
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
}
