{% extends 'base.html' %}

{% block htmlclass %}
home
{% endblock %}

{% block title %}
<h1>{{ title }} <i class="fa fa-bars menu-button" id="menuButton"></i> </h1>

<div class="desc">
  {{ contents|safe }}
</div>
{% endblock %}

  {% block content %}

  <div class="container intro homeheader">
     <div class="columns">
	 <div class = "col-12 col-sm-12">
           <h3>{{ desc }}</h3>
	 </div>
	 </div>
  </div>

  <div class="container intro">
    <div class="columns">
      <div class = "col-12 col-sm-12 padright">

        <!-- <div class="homecontent">
             {{ contents|safe }}
             </div> -->

	<!-- {% block latestreleasemobile %}
	     {% endblock %} -->
	
             {% set items = latest  | sort(true, true, 'date') %}
        <div class="container investigations">
	  <h2 class="section-title">Investigations</h2>
          <div class="columns">
		 {% for post in items  | sort(true, true, 'date')%}
		 {% if (post.locale === locale) and (post.title != title) and (loop.index < 4) %}
			<div class="col-4 col-sm-4">
			  {% include 'includes/newcard.html' %}
			</div>
	{% endif %}
	{% endfor %}
             </div>
             </div>
		


            </div>
      <!-- <div class="col-6 col-sm-12 right-section"> -->
      
      <!-- {% block latestreleasedesktop %}
	   {% endblock %}

	   <h5>{{ "Sections" |t(locale)}}</h5>
	   <div class = "col-12 col-sm-12 flx">
           {% for post in siblings  | sort(true, true, 'date')%}
           {% if post.locale === locale and post.title != title %}
           <div class="fll">
	   {% include 'includes/card.html' %}
           </div>
           {% endif %}
           {% endfor %}
	   </div> -->

      <!-- </div> -->

      
    </div>

    {% block homepageMap %}
    {% endblock %}

    <div class="columns">
      <div class = "col-12 col-sm-12 padright">
        {% set items = collections  | sort(true, true, 'date') %}
        <div class="container investigations">
	  <h2 class="section-title">Collections</h2>
          <div class="columns">
	    {% for post in items  | sort(true, true, 'date')%}
	    {% if (post.locale === locale) and (post.title != title) and (loop.index < 4) %}
	    <div class="col-4 col-sm-4">
	      {% include 'includes/newcard.html' %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>      
    </div>

</div>

<!-- <div id="js-root"></div> -->


  {% endblock %}

  {% block jstop %}
  {% endblock %}


{% block jsbottom %}
{% endblock %}
