{% extends 'layout.html' %}

{% set items = siblings  | sort(true, true, 'date') %}
{% set post = items | first %}

  {% block content %}

    <div class="container investigations">

      <div class="columns">
        <div class="col-12 supercard">
            {% include 'includes/card.html' %}
        </div>
      </div>

      <div class="columns clist">
        {% for post in items  | sort(true, true, 'date')%}
          {% if post.locale === locale and post.title != title %}
            <div class="col-6">
                {% include 'includes/card.html' %}
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endblock %}
